{% extends 'base.html' %}
{% load static %}

{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="{% url 'dashboard' %}">Volver al Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" >Current user: {{request.user.username}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock navbar %}

{% block header %}
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Crea un Post!</h1>
            </div>
        </header>
{% endblock header %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="post" class="border p-4">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                            {{ form.content.errors }}
                        </div>
                        <button type="submit" class="btn btn-primary">Crear Post</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}