{% extends 'base.html' %}
{% load static %}



{% block content %}
<section id="proposito" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog Ingresantes UTN</h2>
                <p class="section-subheading text-muted">Facilitando tu viaje hacia la UTN.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    En Blog Ingresantes UTN, nos dedicamos a simplificar el proceso de información y contacto para los ingresantes de la Universidad Tecnológica Nacional (UTN). Sabemos que comenzar en la UTN puede ser un desafío, y nuestra misión es proporcionarte un lugar centralizado donde puedas encontrar respuestas a tus preguntas, compartir tus experiencias y conectarte con otros estudiantes, profesores e ingenieros.
                </p>
                <p>
                    Nuestra comunidad está diseñada para brindarte recursos útiles y categorizados que cubren una variedad de temas, desde información sobre exámenes de ingreso hasta curiosidades sobre la vida universitaria. Si tienes alguna pregunta o simplemente deseas compartir tus conocimientos, puedes hacerlo a través del Blog!.
                </p>
                <p>
                    En Blog Ingresantes UTN, creemos en el poder de la información y la colaboración. Esperamos que esta plataforma te ayude a tomar decisiones informadas sobre tu futuro en la UTN y que te sientas parte de una comunidad que se apoya mutuamente.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}